[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "external/gl3w"]
	path = external/gl3w
	url = git@github.com:skaslev/gl3w.git
[submodule "external/shadertrans"]
	path = external/shadertrans
	url = git@github.com:xzrunner/shadertrans.git
